[submodule "libs/sst/sst-basic-blocks"]
	path = libs/sst/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks.git
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
